.dbz-crm-dropdown {
    display: none;
    position: absolute;
    background: #f1f1f1;
    top: 39px;
    left: 0;
    right: 0;
    padding: 10px;
    z-index: 2;
}

.dbz-crm--dropdown.show {
    display: block;
}

.dbz-crm--dropdown ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dbz-crm--dropdown ul > li {
    margin: 10px 0;
}
.dbz-crm--dropdown ul > li > a {
    font-size: 12px;
}